{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Apology</h3>
                    </div>
                    <div class="card-body">
                        <p>We are sorry for the inconvenience.</p>
                        <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
