{% extends "layout.html" %}

{% block title %}
    Cambia Password
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cambia Password</h1>
            <form method="POST" action="/change_password">
                <div class="mb-3">
                    <label for="old_password" class="form-label">Vecchia Password:</label>
                    <input type="password" id="old_password" name="old_password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nuova Password:</label>
                    <input type="password" id="new_password" name="new_password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Conferma Nuova Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Cambia Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
